.fakeHeading {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 1rem;
  color: #707070;
}

.fakeHeadingActive {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 2rem 4rem;
  color: #353535;
}

.mediaList {
  margin: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 2rem;
}

.mediaListWrap {
  margin: 1.6rem 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 2rem;
}

/* Mobile */
@media (max-width: 700px) {
  .mediaListWrap {
    margin: 1.6rem 1rem;
    display: block;
  
    line-height: 2rem;
  }
}

.mediaListName {
  color: #353535;
  margin-right: 1.8rem;
  cursor: pointer;
}
.mediaListNameActive {
  color: #FF2618;
  font-weight: 600 !important;
  margin-right: 1.8rem;
}

.mediaName {
  color: #FF2618;
  margin-right: 1.8rem;
  font-weight: 600 !important;

}

.mediaCountry {
  font-size: .928rem;
}



.mediaDate {
  font-size: .7rem;
  color: #707070;
  font-weight: 400;
  margin-left: 0.6rem;
  line-height: 1.32rem;
}

@media (max-width: 700px) {
  .mediaName {
    width: 100%;
  }
  .fakeHeading, .fakeHeadingActive {
    margin: 1rem;
    font-size: 1rem;
  }
  .mediaList {
    display: block !important;
    margin: 1rem;
    font-size: .86rem;
  }
  .mediaDate {
    margin-left: 0;
    margin-top: .2rem;
  }

}