@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font: 'Inter', sans-serif;

  --primary-color: #FF2618;
  --body-text-color: #424242;

}

@media (prefers-color-scheme: dark) {
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: var(--body-text-color);
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font);
  font-weight: 600;
  font-size: 16px;
}



a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
