.subtitle {
  text-transform: uppercase;
  color: #9a9a9a;
  font-size: 0.76rem;
  margin-top: 1rem;
  text-align: center;
}

.bar:hover {
  fill: #ff2618 !important;
  transition-duration: 0.4s;
}

.barActive {
  fill: #ff2618 !important; 
}

.barNumbers {
  color: #a4a4a4;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 20px;
}

.barNumbers>p {
  width: 20px;
}

.bar:hover .barNumbers {
  color: #ff2618 !important;
}

/* Mobile */
@media (max-width: 700px) {
.BarChart {
  display: none;
}}