.listItem {
  list-style: none;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.listsWrap {
  display: flex;
  justify-content: space-between;
}

.listHeading {
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  .listsWrap {
    display: block;
  }
}