.cards {
  text-align: center;
  margin: 2rem 0;
}
.cardsWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem;
}

.cardActive {
  border-radius: 3px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: .4rem 0 .6rem 0;
  margin: 0 .6rem;
  width: 120px;
  height: 100px;
  background-color: #FF2618;
}

.card {
  border-radius: 3px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: .4rem 0 .6rem 0;
  margin: 0 .6rem;
  width: 100px;
  height: 80px;
  background-color: #f1f1f1;
}

.cardNumberActive {
  font-size: 3.6rem;
}

.cardNumber {
  font-size: 2.6rem;
  color: #424242;
}

.cardCategoryActive {
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .06rem;

}

.cardCategory {
  text-transform: uppercase;
  font-size: .7rem;
  letter-spacing: .06rem;
  color: #868686;

}

.subtitle {
 text-transform: uppercase;
 color: #9A9A9A;
 font-size: .76rem;
 margin-top: 1.4rem;
}

/* Mobile */
@media (max-width: 700px) {
  .cardsWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .4rem 0;
  }

  .cards {
    margin: .6rem 0;
  }

}