.cardsWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 4rem 0 0 0;
}

.card {
  border-radius: 3px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: .4rem 0 .6rem 0;
  margin: 0 .6rem;
  width: 120px;
  height: 100px;
  background-color: #FF2618;

}

.cardNumber {
  font-size: 3.6rem;
}

.cardCategory {
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .06rem;

}

.subtitle {
 text-transform: uppercase;
 color: #9A9A9A;
 font-size: .9rem;
 margin-top: 1rem;
}