.header {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.navbarWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.navbarWrap li {
  list-style: none;
  margin-left: 2rem;
  font-size: 0.86rem;
  text-transform: uppercase;
}

.activeLink {
  color: var(--primary-color);
}

.desctopMenu {
  display: inline;
}

.mobileMenuIcon {
  display: none;
}

/* Mobile */
@media (max-width: 700px) {
  .desctopMenu {
    display: none;
  }

  .mobileMenuIcon {
    display: inline;
  }
}
